<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>forex</title>
</head>
<body>
    <h1>CHECK</h1>

    <form  action="/converter" method="POST" >
        

        <label for="cur1">Currency from:</label><br>
        <input type="text" id="cur1" name="cur1" class="cur1" autofocus><br>
        <label for="cur2">Currency too:</label><br>
        <input type="text" id="cur2" name="cur2" class="cur2"><br><br>
        <label for="value">Amount:</label><br>
        <input type="text" id="value" name="value" class="value"><br><br>
        <input type="submit" value="Submit">
        
    </form>

</body>
</html>